<!DOCTYPE html>
{% load static %}
<head>
<title> DB Model Learning </title>
</head>
<body>
<h1> Employee Details </h1>
{% if emp_list %}
<table>
<thead>
<th>Employee No</th>
<th>Employee Name</th>
<th>Employee salary</th>
<th>Employee address</th>

{% for employee in emp_list %}
<tr>
<td>{{employee.empNo}}</td><br>
<td>{{employee.empName}}</td><br>
<td>{{employee.empSalary}}</td><br>
<td>{{employee.empAddress}}</td><br>
</tr>
{% endfor %}
{% endif %}
</table>
</body>
</html>
